*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.firstSection{
    background-image: url('/images/firstsection.jpg');
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.firstSectionnothome{
    background-image: url('/images/firstsection.jpg');
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
